chardet
contourpy
cycler
fonttools
importlib_resources
kiwisolver
matplotlib
mplcursors
numpy
ordered-set
packaging
pillow
PyLaTeX
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
reportlab
six
zipp
